*{
    margin  : 10px;
    padding : 0;
    box-sizing : border-box;
}
body{
    background-color: grey;
}
.container{
    max-width : 500px;
    margin : 0 auto;
    background-color: white;
}
.apply{
    max-width : 600px;
    padding : 20px;
    background-color: white;
    margin-top : 50px;
    box-shadow: 4px 3px 5px rgb(1 , 1 , 1 , .1);
    border-radius : 10px;
}
.title_small{
    font-size: 20px;
}
.form_container{
    margin-top: 25px;
    display : grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    grid-gap : 20px;
}
.form_control{
    display : flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input , select , textarea{
    padding : 6px 10px;
    border : 1px solid grey;
    border-radius: 4px;
    font-size: 15px;

}
input-focus{
    outline-color: red;
}
.button_container{
    display : flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    background-color: red;
    border : transparent solid 2px;
    padding : 5px 10px;
    margin-bottom: 10px;
    color : white;
    border-radius: 5px;

}
button :hover{
    background-color : grey;
    color : black;
    cursor: pointer;

}